* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  text-align: center;
  background-color: white;
  /* background-image: url("./images/startpage.png");
  background-repeat: no-repeat;
  background-attachment: fixed; */
  /* margin-bottom: 100px; */
}

.sendPostBtn {
  color: white;
  width: 18px;
  height: 18px;
}

.sendCommentBtn {
  color: white;
}

.startpage-nav-text-logo {
  margin: 40px 0;
  list-style: none;
  height: 70px;
}

.startpage-nav-text-logo a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  height: 100%;
  font-size: 40px;
  display: flex;
  align-items: center;
  margin: 0 36px;
}

.startpage-nav-text {
  margin: 40px 0;
  padding-bottom: 26px;
  list-style: none;
  height: 60px;
  /* padding: 8px 0px 8px 16px; */
}

.startpage-nav-text a {
  text-decoration: none;
  color: #555b6e;
  font-size: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  /* margin: 0 36px; */
  text-align: center;
  width: 100%;
  /* background-color: whitesmoke; */
}

.startpage-nav-text span {
  margin: 0 auto;
}

.startpage-nav-text a:hover {
  color: slategray;
}

.startpage-active-link {
  border-bottom: 1px solid #555b6e;
}

.avatar-initials {
  color: white;
  font-weight: 500;
}

.avatar-initials-post {
  color: white;
  font-size: 0.7rem;
}

.avatar-initials-comment {
  color: white;
  font-size: 0.6rem;
}
